%svg-common {
	background: url("../images/sprite.svg") no-repeat;
}

%svg-arrow-alt-circle-down {
	@extend %svg-common;
	background-position: 0 50%;
}

%svg-arrow-alt-circle-down-dims {
	width: 532px;
	height: 532px;
}

%svg-arrow-right {
	@extend %svg-common;
	background-position: 0 100%;
}

%svg-arrow-right-dims {
	width: 468px;
	height: 532px;
}

%svg-check {
	@extend %svg-common;
	background-position: 94.51754385964912% 91.40893470790378%;
}

%svg-check-dims {
	width: 432px;
	height: 432px;
}

%svg-facebook {
	@extend %svg-common;
	background-position: 29.75391498881432% 50%;
}

%svg-facebook-dims {
	width: 468px;
	height: 532px;
}

%svg-heart {
	@extend %svg-common;
	background-position: 69.1415313225058% 0;
}

%svg-heart-dims {
	width: 532px;
	height: 532px;
}

%svg-heart-rd {
	@extend %svg-common;
	background-position: 69.1415313225058% 50%;
}

%svg-heart-rd-dims {
	width: 532px;
	height: 532px;
}

%svg-odnoklassniki {
	@extend %svg-common;
	background-position: 89.97912317327766% 50%;
}

%svg-odnoklassniki-dims {
	width: 340px;
	height: 532px;
}

%svg-plus-circle {
	@extend %svg-common;
	background-position: 27.1461716937355% 100%;
}

%svg-plus-circle-dims {
	width: 532px;
	height: 532px;
}

%svg-search {
	@extend %svg-common;
	background-position: 58.0046403712297% 100%;
}

%svg-search-dims {
	width: 532px;
	height: 532px;
}

%svg-twitter {
	@extend %svg-common;
	background-position: 100% 0;
}

%svg-twitter-dims {
	width: 532px;
	height: 532px;
}

%svg-vk {
	@extend %svg-common;
	background-position: 35.903614457831324% 0;
}

%svg-vk-dims {
	width: 596px;
	height: 532px;
}

%svg-youtube {
	@extend %svg-common;
	background-position: 0 0;
}

%svg-youtube-dims {
	width: 596px;
	height: 532px;
}

